:root{
    --primary-color-darker: #3D3522;
    --primary-color-dark: #4A442D;
    --primary-color: #AF9C70;
    --primary-color-light: #AEA47C;
    --secondary-color-darker: #386150;
    --secondary-color-dark: #85B9A3;
    --secondary-color: #58B09C; --secondary-color-light: #A5D5CA;
    --secondary-color-lighter: #CAF7E2;
    --secondary-color-lightest: #E2FBEF;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color-lightest);
    height: 100dvh;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

main {
    display: flex;
    justify-content: start;
    flex-grow: 1;
    height: 100%;
    overflow-y: hidden;
}

aside {
    z-index: 100;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.unlocked-list {
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    height: 100%;
    overflow-y: scroll;
}

.unlocked-list > li{
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    list-style-type: none;
    padding: 1rem;
    cursor: pointer;
    user-select: none;
    text-transform: capitalize;
}

.unlocked-list > li:hover {
    background-color: var(--primary-color-light);
}

.unlocked-list > li:active {
    background-color: var(--primary-color-dark);
}

.soup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    display: flex;
    user-select: none;
    position:relative;
}

.ings-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.ings-container > div{
    background-color: var(--secondary-color-light);
    display: flex;
    height: 4rem;
    min-width: 10rem;
    border: 3px solid var(--secondary-color-dark);
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.result-container {
    background-color: var(--primary-color-light);
    display: inline-flex;
    height: 4rem;
    min-width: 10rem;
    border: 3px solid var(--primary-color-dark);
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.reset {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    list-style-type: none;
    padding: 1rem;
    cursor: pointer;
    user-select: none;
    text-transform: capitalize;
    border: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.search {
    padding: .5rem;
    font-size: 1rem;
}

.search-container {
    padding: .5rem;
    position: relative;
}

.search-container::after {
    content: 'Ctrl-K';
    position: absolute;
    inset: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.search:focus {
    outline: none;
}

.search-container:focus-within::after {
    content: '';
}
