<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="css/index.css" rel="stylesheet" />
    <title>Alchemist</title>
  </head>
  <body>
    <h1>Alchemist</h1>
    <main>
      <ul
        class="unlocked-list"
        hx-get="/unlocked_ingredients"
        hx-target="this"
        hx-trigger="load"
      >
        ....
      </ul>
      <section>
        <div id="available-soup"></div>
        <div id="result-soup"></div>
      </section>
    </main>
    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
